html {
    scroll-behavior: smooth;
    font-family: "Raleway";
}

  
body { 
    margin:0;
    background-color: $tertiary-color;
   
    line-height: 1;
}



.root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px auto; 
    grid-template-columns: 1fr;    
}
