header {
      background-color: $primary-color;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 65px;

}

.navbar__logo {
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 3px;
  max-width: 250px;
}

/* checkbox off-screen */
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}
/* Hamburger verborgen bij desktop weergave */
.menu-icon {
  visibility: hidden;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & a { 
    color: $secondary-color;
    text-decoration: none;
    margin-right: 1rem;
    }
  & a:hover{
    transition: color 0.3s linear;
    color: $link-hover;
    }
   
  & li { 

      list-style-type: none;
      transform: none;
      padding: 10px 10px;
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        transition: none;

    }
  & ul {
    display: flex;
  }
  
}

/* styles voor scherm kleinder dan 680px */

@media screen and (max-width: 680px) {
  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
  }
  .menu-btn {
    display: none;
  }


  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 20px 30px 0;
    position: relative;
    visibility: visible;
 
    
  }
  .navicon {
    background: $secondary-color;
    display: block;
    height: 4px;
    width: 32px;
    border-radius: 3px;
    position: relative;
  }
  .navicon:before {
    top: 8px;
  }
  .navicon:after {
    top: -8px;
  }
  .navicon:before,
  .navicon:after {
    background: $secondary-color;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }


  .menu {
    display:flex;
    flex-direction: column;
    position: absolute;
    background-color: $primary-color;
    height: 100%;
    width: 0%;
    overflow: hidden;
    left:0;
    transition: transform 0.3s;
    transform: translateX(0vw);
   
  }

  & a {
    width: 100%;
    text-align: center;
  }
  & ul {
    display: flex;
    flex-direction: column;
  }


  & li {
      display: flex;
      align-items: baseline;
      margin: 10px 0;
      transform: translateX(100vw);

      &:nth-of-type(1) {
        transition: transform 0.3s 150ms;
      }

      &:nth-of-type(2) {
        transition: transform 0.3s 300ms;
      }

      &:nth-of-type(3) {
        transition: transform 0.3s 450ms;
      }
  }


//  box checked stylies
  .menu-btn:checked ~ .menu {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    top: 65px;
    position: absolute;
    
    & li { 
      // padding: 15px, 15px;
      transform: translateX(0);
      width: 100%;
    }
  }


// hamburger menu animatie
  .menu-btn:checked ~ .menu-icon .navicon {
    transition: 0.2s ease-out;
    background: transparent;
    
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }


}



}
