*, *::before, *::after {
    box-sizing: border-box;
}

body { 
    margin:0;
    background-color: $tertiary-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

.root {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 150px 1fr; 
    grid-template-rows: 50px 1fr; 
}




