@import "./colors";

.button { 

    //extra styling van button weggecomment
  //  border-radius: 10px;
 //   padding: 0.75rem;
    color:$button-color;
    background:$primary-color;
    

    &:hover {
        color:$button-hover-color;
        background:$secondary-color;
        
    }

}