$text-color: rgb(208, 82, 18);
$text-color-hover: rgb(134, 255, 134);
$button-color: rgb(39, 105, 80);
$button-hover-color: rgb(2, 83, 160);
$background-color : rgb(202, 25, 25);
$background-hover-color : rgb(2, 83, 160);

