*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr; 
    gap: 0px;
    height: 100%;
    padding: 20px;
    background-color: lightblue;
    min-height: 400px;
    
 
 }
   
 #sidebar {
 
    background-color: lightgreen; 
    border: 1px solid black;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
 }
 #article_1 {
 
    background-color: white; 
    border: 1px solid black;
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 4;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
 }
 #article_2 {
 
    background-color: white;
    border: 1px solid black;
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }