*,
*::before,
*::after {
   box-sizing: border-box;
}

.container {
   display: grid;
   grid-template-columns: [col-start] 300px [col-mid] 1fr [col-end];
   grid-auto-rows: [row-start] 1fr [row-mid] 1fr [row-end];
   grid-template-areas: "sidebar article_1""sidebar article_2";
   gap: 10px;
   padding: 20px;
   background-color: lightblue;


}

.sidebar {

   background-color: lightgreen;
   grid-area: sidebar;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;




}

#article_1 {

   background-color: white;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   grid-area: article_1;

}

#article_2 {

   background-color: white;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   grid-area: article_2;


}