*,
*::before,
*::after {
   box-sizing: border-box;
}

.container {
   display: grid;
   grid-template-columns: [col-start] 300px [col-mid] 1fr [col-end];
   grid-auto-rows: auto;

 
   gap: 10px;
 
  
   padding: 20px;
   background-color: lightblue;
   


}

#sidebar {

   background-color: lightgreen;
   border: 1px solid black;
   grid-row-start: row-start;
   grid-column-start: col-start;
   display: flex;
   align-items: center;
   justify-content: center;



}

#article_1 {

   background-color: white;
   border: 1px solid black;
   grid-row-start: row-start;
   grid-column-start: col-mid;
    display: flex;
   align-items: center;
   justify-content: center;

}

#article_2 {

   background-color: white;
   border: 1px solid black;
   grid-row-start: row-end;
   grid-column-start: col-mid;
   display: flex;
   align-items: center;
   justify-content: center;


}
#article_3 {

   background-color: white;
   border: 1px solid black;
   grid-row-start: 5;
   grid-column-start: col-mid;
   display: flex;
   align-items: center;
   justify-content: center;


}