*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

body {

    /* background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%)); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    overflow: hidden;
}


.bg {
   
  height: 100%;
  background-image: url("./swissClock_nohands.jpg");
  background-size: auto;
  background-repeat: no-repeat;
    min-height: 100vh;
    
}
    
.content {
    position:absolute;
    top: 292px;
    left: 814px;
    width: 100%;
    transform: rotateY(1deg);
    
    
    

}

.clock {
    width: 325px;
    height: 325px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    position: relative;
    transform: translate(-8px, 11px);
    
    
}

.tick-container { position:absolute; left:150px; top:10px; }
.tick { width:11px; height:330px; transform-origin:center center; transform:rotate(30deg); }

.tick:before, .tick:after { position:absolute; display:block; content:""; width:11px; height:25px; background:#222; }
.tick:after { bottom:0; }


/* .minute-tick-container { position:absolute; left:150px; top:12px; }
.minute-tick { width:5px; height:323px; transform-origin:center center; transform:rotate(6deg); }

.minute-tick:before, .minute-tick:after { position:absolute; display:block; content:""; width:5px; height:12px; background:#222; }
.minute-tick:after { bottom:0; } */


.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
}

.clock::after {
    content: '';
    position:absolute;
    background-color: black;
    z-index: 11;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

 
.clock .hand.second {
    width: 5px;
    height: 42%;
    background-color: rgb(109, 23, 36);
    animation:seconds 60s linear infinite;  
}
@keyframes seconds {
    0%{ transform:rotate(0); }
    97.5%,100%{ transform:rotate(1turn); }
  }


.clock .hand.second:after {
   content: "";
   background-color: rgb(109, 23, 36);
   display: block;
   width: 31px;
   height: 31px;
   position: absolute;
   left: -12px;
   border-radius: 50%; 
}

.clock .hand.minute {
    width: 10px;
    height: 47%;
    background-color: black;  

}
.clock .hand.hour {
    width: 15px;
    height: 35%;
    background-color: black;  
}