@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

.root {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

header {
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.navbar__logo {
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 3px;
  margin-right: -20px;
  max-width: 250px;
}

/* checkbox off-screen */
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hamburger verborgen bij desktop weergave */
.menu-icon {
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.menu a:hover {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #3e24a5;
}

.menu li {
  list-style-type: none;
  padding: 10px 10px;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* styles voor scherm kleinder dan 680px */
@media screen and (max-width: 680px) {
  header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title   title   hamburger" "nav     nav     nav";
  }
  .menu-btn {
    display: none;
  }
  .menu-icon {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: hamburger;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 30px 20px 30px 0;
    position: relative;
    visibility: visible;
  }
  .navicon {
    background: white;
    display: block;
    height: 4px;
    width: 32px;
    border-radius: 3px;
    position: relative;
  }
  .navicon:before {
    top: 8px;
  }
  .navicon:after {
    top: -8px;
  }
  .navicon:before,
  .navicon:after {
    background: white;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: purple;
    height: 100%;
    width: 0%;
    overflow: hidden;
    top: 65px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  a {
    width: 100%;
    text-align: center;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 10px 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  li:nth-of-type(1) {
    -webkit-transition: -webkit-transform 0.3s 150ms;
    transition: -webkit-transform 0.3s 150ms;
    transition: transform 0.3s 150ms;
    transition: transform 0.3s 150ms, -webkit-transform 0.3s 150ms;
  }
  li:nth-of-type(2) {
    -webkit-transition: -webkit-transform 0.3s 300ms;
    transition: -webkit-transform 0.3s 300ms;
    transition: transform 0.3s 300ms;
    transition: transform 0.3s 300ms, -webkit-transform 0.3s 300ms;
  }
  li:nth-of-type(3) {
    -webkit-transition: -webkit-transform 0.3s 450ms;
    transition: -webkit-transform 0.3s 450ms;
    transition: transform 0.3s 450ms;
    transition: transform 0.3s 450ms, -webkit-transform 0.3s 450ms;
  }
  .menu-btn:checked ~ .menu {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 65px;
    position: absolute;
  }
  .menu-btn:checked ~ .menu li {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}

.product-cards__wrapper {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100vw;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: white;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 200px;
  padding-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.product-card__img {
  min-width: 165px;
  min-height: 165px;
  background-color: grey;
  margin: 20px;
}

.product-card__txtbox {
  width: 30vw;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #0f1113;
  margin: 20px 20px;
}

.product-card__title {
  font-weight: lighter;
}

.product-card__sub-title {
  text-align: left;
  font-weight: bolder;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.product-card__product-description {
  font-weight: lighter;
  overflow: hidden;
}

.product-card__price-box {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-card__product-price {
  color: red;
  font-size: 150%;
  font-weight: bold;
}

.product-card__price-cents {
  font-size: 65%;
  position: relative;
  top: -6px;
  left: -9px;
}

.product-card__nextday {
  color: green;
}

.product-card__cart-btn {
  background-color: #ffdc4d;
  width: 111px;
  height: 48px;
  border: none;
}

.product-card__cart-btn::after {
  content: '';
  position: absolute;
  background-image: url(./images/basket.png);
  height: 48px;
  width: 111px;
  margin-top: -23px;
  margin-left: -55px;
}

.product-card__cart-btn::before {
  content: '+';
  position: absolute;
  font-size: 280%;
  margin-left: -35px;
  margin-top: -17px;
  z-index: 2;
  color: black;
}

.product-card__cart-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (max-width: 680px) {
  .product-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90vw;
    height: auto;
  }
  .product-card__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .product-card__txtbox {
    width: 90vw;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .product-card__title, .product-card__sub-title {
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .product-card__product-description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .product-card__price-box {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-card__product-price {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0px 5em 0px 0px;
  }
  .product-card__nextday {
    margin: 0.5rem;
  }
}

.login_wrapper {
  margin-top: 70px;
}

.login {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 625px;
  margin-top: 1rem;
  margin: 3rem auto;
  padding: 1rem auto;
  background-color: white;
  border-radius: 3rem;
}

.login p {
  color: grey;
}

.login .login__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 250px;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  margin: 20px 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: 2px solid black;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  outline: none;
}

.login .login__remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 14px 0;
}

.login button[type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: 0;
  margin-top: 8px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  background-color: #3e24a5;
}

.login button[type="submit"]:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.login button[type="submit"] img {
  padding-right: 10px;
}

.footer__wrapper {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  background-color: beige;
  padding: 1em;
}

.footer__heading {
  color: black;
  margin-bottom: 5px;
  line-height: 150%;
}

.footer__flexbox-left a:visited, .footer__flexbox-left a:active, .footer__flexbox-left a:link {
  color: grey;
  text-decoration: none;
  line-height: 150%;
}

.footer__flexbox-left a:hover {
  color: #3e24a5;
}

.footer__flexbox-left li {
  list-style-type: none;
}

.footer__flexbox-left ul {
  padding-left: 0px;
}

.footer__stores-box, .footer__categories-box-top, .footer__categories-box-bottom {
  margin-left: 1em;
}

.footer__flexbox-left, .footer__flexbox-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 450px) and (max-width: 680px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__flexbox-left, .footer__flexbox-right {
    width: 90vw;
    font-size: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 450px) {
  .footer__flexbox-left {
    width: 90vw;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5vw;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__service-box,
  .footer__stores-box,
  .footer__categories-box-top,
  .footer__categories-box-bottom {
    margin-left: 0;
  }
}
